# **Spark Apache (Семинары)**
## **Урок 1. SQL & BigData**
### Задание:
    1. Условие: найти самую длинную последовательность упорядоченных чисел в RDD и вывести ее

## Решение: [тут](#dz1)

## Семинар

In [ ]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

### Задание 1. Найти среднее значение элеменов RDD

In [ ]:
sc = SparkContext("local", "Average RDD")
rdd = sc.parallelize([1, 2, 3, 4, 5])
mean_value = rdd.mean()
print("Среднее значение элементов в RDD:", mean_value)

Среднее значение элементов в RDD: 3.0

In [ ]:
active_session = SparkSession.active
print(active_session)

<bound method SparkSession.active of <class 'pyspark.sql.session.SparkSession'>>

In [ ]:
sc.stop()

### Задание 2. Найти наибольший элемент RDD

In [ ]:
sc = SparkContext("local", "Max RDD")
rdd = sc.parallelize([100, 25, 30, 40, 55, 70])
max_value = rdd.max()
print("Наибольший элемент в RDD:", max_value)

Наибольший элемент в RDD: 100

In [ ]:
sc.stop()

### Задание 3. Подсчитать количество элементов, удовлетворяющих определенному условию

In [ ]:
sc = SparkContext("local", "Filter RDD")
rdd = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
filter_rdd = rdd.filter(lambda x: x > 5)
count = filter_rdd.count()
print("Количество элементов, больше 5:", count)

Количество элементов, больше 5: 5

In [ ]:
sc.stop()

### Задание 4. Задание на группировку по ключу

Дан набор данных с информацией о продажах товаров в магазине в следующем формате: (товар, магазин, количество). Необходимо сгруппировать данные по по товару и найти суммарное количество проданных товаров по каждому товару.

In [ ]:
sc = SparkContext("local", "advanced1")
data = [("apple", "store1", 10), ("apple", "store2", 15),
        ("banana", "store1", 20), ("banana", "store2", 25),
        ("peach", "store1", 5), ("peach", "store2", 10),
        ("peach", "store3", 25),]
rdd = sc.parallelize(data)

grouped_rdd = rdd.map(lambda x: (x[0], x[2])).reduceByKey(lambda a, b: a + b)
grouped_rdd.collect()

[('apple', 25), ('banana', 45), ('peach', 40)]

In [ ]:
sc.stop()

### Задание 5. Задание на аггрегацию по ключу

Дан набор данных с информацией о продажах товаров в магазине в следующем формате: (магазин, товар, количество, цена). Необходимо найти общую выручку от продаж каждого товара в каждом магазине

In [ ]:
sc = SparkContext("local", "advanced2")
data = [("store1", "apple", 10, 2), ("store2", "apple", 15, 2.5),
        ("store1", "banana", 20, 1.5), ("store2", "banana", 25, 1.8),
        ("store1", "watermelon", 3, 5), ("store2", "watermelon", 2, 4),]
rdd = sc.parallelize(data)

revenue_rdd = rdd.map(lambda x: ((x[0], x[1]), x[2]*x[3])).reduceByKey(lambda a, b: a + b)
revenue_rdd.collect()

[(('store1', 'apple'), 20),
 (('store2', 'apple'), 37.5),
 (('store1', 'banana'), 30.0),
 (('store2', 'banana'), 45.0),
 (('store1', 'watermelon'), 15),
 (('store2', 'watermelon'), 8)]

In [ ]:
sc.stop()

### Задание 6. Задание на JOIN по ключу

Даны два набора данных: первый с информацией о продажах (товар, количество) и второй с инфомацией о цене товаров (товар, цена). Необходимо объединить данные и найти общую выручку от продаж каждого товара.

In [ ]:
sc = SparkContext("local", "advanced3")
sales_data = [("apple", 10), ("banana", 20), ("apple", 15), ("banana", 25), ("peach", 15), ("peach", 25), ("watermelon", 5), ("watermelon", 10), ]
price_data = [("apple", 2), ("banana", 1.5), ("peach", 2.5), ("watermelon", 3.5),]
sales_rdd = sc.parallelize(sales_data)
price_rdd = sc.parallelize(price_data)
joined_rdd = sales_rdd.join(price_rdd)

revenue_rdd = joined_rdd.map(lambda x: (x[0], x[1][0] * x[1][1]))
revenue_rdd.collect()

[('banana', 30.0),
 ('banana', 37.5),
 ('peach', 37.5),
 ('peach', 62.5),
 ('watermelon', 17.5),
 ('watermelon', 35.0),
 ('apple', 20),
 ('apple', 30)]

In [ ]:
sc.stop()

### Задание 7. поиск самого длинного слова в RDD

In [ ]:
sc = SparkContext("local", "RDD tasks1")
data = ["Приложение", "Яблоко", "Спарк", "Путеводитель", "Метрополитен", "Анализ", "Солнце", "Питон", "Снег", "Рынок",]
rdd = sc.parallelize(data)
longest_word = rdd.max(key=lambda x: len(x))
print("Самое длинное слово:", longest_word)

Самое длинное слово: Путеводитель

In [ ]:
sc.stop()

### Задание 8. Фильтрация слов по длине в RDD

In [ ]:
sc = SparkContext("local", "RDD tasks2")
data = ["Приложение", "Яблоко", "Спарк", "Путеводитель", "Метрополитен", "Анализ", "Солнце", "Питон", "Снег", "Рынок",]
rdd = sc.parallelize(data)
filtered_rdd = rdd.filter(lambda x: len(x) > 6)
print("Слова, длиной более 6 символов:", filtered_rdd.collect())

Слова, длиной более 6 символов: ['Приложение', 'Путеводитель', 'Метрополитен']

In [ ]:
sc.stop()

### Задание 9. Подсчет колиечества уникальных слов в RDD

In [ ]:
sc = SparkContext("local", "RDD tasks3")
data = ["Приложение", "Яблоко", "Спарк", "Путеводитель", "Метрополитен",
        "Анализ", "Солнце", "Питон", "Снег", "Рынок", "Яблоко", "Путеводитель", "Анализ",]
rdd = sc.parallelize(data)
unique_word_count = rdd.distinct().count()
print("Количество уникальных слов:", unique_word_count)

Количество уникальных слов: 10

In [ ]:
sc.stop()

### Задание 10. Преобразование всех слов в верхний регистр.

In [ ]:
import time
import timeit

In [ ]:
sc = SparkContext("local", "RDD tasks4")
data = ["Приложение", "Яблоко", "Спарк", "Путеводитель", "Метрополитен", "Анализ", "Солнце", "Питон", "Снег", "Рынок",]
rdd = sc.parallelize(data)

In [ ]:
%%time
upper_rdd = rdd.map(lambda x: x.upper())
print("Слова в верхнем регистре:", upper_rdd.collect())

Слова в верхнем регистре: ['ПРИЛОЖЕНИЕ', 'ЯБЛОКО', 'СПАРК', 'ПУТЕВОДИТЕЛЬ', 'МЕТРОПОЛИТЕН', 'АНАЛИЗ', 'СОЛНЦЕ', 'ПИТОН', 'СНЕГ', 'РЫНОК']
CPU times: user 23.7 ms, sys: 3.64 ms, total: 27.4 ms
Wall time: 1.22 s

In [ ]:
sc.stop()

### Задание 11. Найти средний возраст пользователей по их покупкам и вывести топ-5 самых молодых

In [ ]:
sc = SparkContext("local", "User Age")
user_purchase_rdd = sc.parallelize([(1, 25), (2, 30), (3, 20), (4, 35), (5, 28), (6, 22)])
user_age_total = user_purchase_rdd.mapValues(lambda age: (age, 1)).reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1])).mapValues(lambda v: v[0] / v[1])
youngest_users = user_age_total.sortBy(lambda x: x[1]).take(5)
for user_id, avg_age in youngest_users:
  print(user_id, avg_age)

3 20.0
6 22.0
1 25.0
5 28.0
2 30.0

In [ ]:
sc.stop()

### Задание 12. Найти среднюю цену товара в каждой категории и вывести результат в формате "Категория: Средняя цена".

In [ ]:
sc = SparkContext("local", "Product price")
product_rdd = sc.parallelize([(1, "A", 100), (2, "B", 150), (3, "A", 120), (4, "C", 200), (5, "B", 130), (6, "C", 140), ])
category_total_price = product_rdd.map(lambda x: (x[1], (x[2], 1))).reduceByKey(lambda a, b: (a[0] + b[0], a[1] + b[1])).mapValues(lambda v: v[0] / v[1])
for category, avg_price in category_total_price.collect():
  print(category, avg_price)

A 110.0
B 140.0
C 170.0

In [ ]:
sc.stop()

### Задание 13. Найти все пары чисел из RDD, сумма которых превышает 100, и вывести их

In [ ]:
sc = SparkContext("local", "NumberPairs")
number_rdd = sc.parallelize([30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140])
number_pairs = number_rdd.cartesian(number_rdd).filter(lambda x: x[0] + x[1] > 100).collect()
for pair in number_pairs:
  print(pair)

(30, 80)
(30, 90)
(30, 100)
(30, 110)
(30, 120)
(30, 130)
(30, 140)
(40, 70)
(40, 80)
(40, 90)
(40, 100)
(40, 110)
(40, 120)
(40, 130)
(40, 140)
(50, 60)
(50, 70)
(50, 80)
(50, 90)
(50, 100)
(50, 110)
(50, 120)
(50, 130)
(50, 140)
(60, 50)
(60, 60)
(60, 70)
(60, 80)
(60, 90)
(60, 100)
(60, 110)
(60, 120)
(60, 130)
(60, 140)
(70, 40)
(70, 50)
(70, 60)
(70, 70)
(70, 80)
(70, 90)
(70, 100)
(70, 110)
(70, 120)
(70, 130)
(70, 140)
(80, 30)
(80, 40)
(80, 50)
(80, 60)
(80, 70)
(80, 80)
(80, 90)
(80, 100)
(80, 110)
(80, 120)
(80, 130)
(80, 140)
(90, 30)
(90, 40)
(90, 50)
(90, 60)
(90, 70)
(90, 80)
(90, 90)
(90, 100)
(90, 110)
(90, 120)
(90, 130)
(90, 140)
(100, 30)
(100, 40)
(100, 50)
(100, 60)
(100, 70)
(100, 80)
(100, 90)
(100, 100)
(100, 110)
(100, 120)
(100, 130)
(100, 140)
(110, 30)
(110, 40)
(110, 50)
(110, 60)
(110, 70)
(110, 80)
(110, 90)
(110, 100)
(110, 110)
(110, 120)
(110, 130)
(110, 140)
(120, 30)
(120, 40)
(120, 50)
(120, 60)
(120, 70)
(120, 80)
(120, 90)
(120, 100)
(120, 110)
(120, 120)
(120, 130)
(120, 140)
(130, 30)
(130, 40)
(130, 50)
(130, 60)
(130, 70)
(130, 80)
(130, 90)
(130, 100)
(130, 110)
(130, 120)
(130, 130)
(130, 140)
(140, 30)
(140, 40)
(140, 50)
(140, 60)
(140, 70)
(140, 80)
(140, 90)
(140, 100)
(140, 110)
(140, 120)
(140, 130)
(140, 140)

In [ ]:
sc.stop()

### Бонус

```
from pyspark.sql import SparkSession

# Создание основной сессии Spark
spark = SparkSession.builder \
    .appName("MyApp") \
    .master("local[2]") \
    .config("spark.executor.memory", "2g") \
    .getOrCreate()

# Создание дополнительной сессии Spark с другой конфигурацией
spark2 = spark.newSession() \
    .config("spark.executor.memory", "1g") \
    .getOrCreate()
# Теперь у вас есть две сессии Spark: spark и spark2 с разными конфигурациями
```



---

<a name="dz1"></a>
## Домашнее задание
### Найти самую длинную последовательность упорядоченных чисел в RDD и вывести ее

In [ ]:
import random
random.seed(20)

data = [random.randint(0,10) for _ in range(20)]

sc = SparkContext("local", "LongestSequence")

# Создаем RDD из data
rdd = sc.parallelize(data)

# Function to identify sequences of ordered numbers
# Функция генерирует последовательности упорядоченных чисел и возвращает их
def find_sequences(iter):
    current_seq = []
    for num in iter:
        if not current_seq:               # первая итерация current_seq - пустая
            current_seq.append(num)
        elif num >= current_seq[-1] + 1:  # текущая последовательность
            current_seq.append(num)
        else:                             # последовательность кончилась
            yield current_seq             # начинаем новую
            current_seq = [num]
    yield current_seq

print("Исходные данные:", rdd.collect())
# Ищем последовательность упорядоченных чисел в RDD
sequences_rdd = rdd.mapPartitions(find_sequences)

# Определяем наидлиннейшую последовательность
longest_sequence = sequences_rdd.reduce(lambda x, y:
                                        x if len(x) > len(y) else y)

print("Самая длинная последовательность отсортированных чисел в списке:",
       longest_sequence)


sc.stop()

Исходные данные: [10, 2, 4, 10, 10, 1, 5, 9, 2, 0, 6, 6, 1, 1, 2, 5, 7, 9, 7, 6]
Самая длинная последовательность отсортированных чисел в списке: [1, 2, 5, 7, 9]